form{
    display: grid;
    grid-template-rows: 20px;
    grid-auto-columns: 250px;
    border: 2px solid rgb(43, 38, 38);
    box-shadow: 20px 15px 1px 1px ;
    padding: 50px;
    position: absolute;
    margin-left: 500px;
    background-color: rgb(174, 241, 241);
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button,input:hover{
    background-color: rgb(14, 17, 14);
    color: white;
    }

    table,thead, th, td {
        border:1px solid black;
        background-color: aliceblue; 
        padding: 5px;
       
        
    }
    input{
        font-size: 20px;
        border-radius:20px ;
        
    }
    label{
        padding: 2px;
    }
    button{
        padding:5px;
       margin-bottom: 2px;;
       border-radius: 15px;
        
    }