<nav>
  <ul>
    <li><a routerLink="*">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/contact">File</a></li>
    <li><a routerLink="/contact">Edit</a></li>
    <li><a routerLink="/contact">Selection</a></li>
    <li><a routerLink="/contact">login</a></li>
    <li><a routerLink="/contact">logout</a></li>
    <li><a routerLink="/contact">Employee</a></li>
    <li><a routerLink="/contact">Student</a></li>
    <li><a routerLink="/contact">Java</a></li>
    <li><a routerLink="/contact">UI</a></li>
  </ul>
</nav>
